*, *::after, *::before{
    box-sizing: border-box;
    user-select: none;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: rgba(0, 0, 255, 0.39);
}

.world{
    overflow: hidden;
    position: relative;
    
    
}


.motivate{
    text-align: center;
    color: brown;
}


.score{
    position: absolute;
    font-size: 5vmin;
    right: 1vmin;
    top: 1vmin;
  font-weight: bold;
    color: rgb(158, 33, 33);
}


.start-screen{
    position: absolute;
    font-size: 5vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hide{
    display: none;
}


.ground{
    --left:0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left:calc(var(--left)*1%);

}


.dino{
    --bottom:0;
    position: absolute;
    left: 1%;
    height: 30%;
    bottom: calc(var(--bottom)*1%);
}

.cactus{
    position: absolute;
    left: calc(var(--left)*1%);
    height: 30%;
    bottom: 0;
  
}



@media screen and (max-width: 600px) {
   .motivate{
     font-size: .7em;
    
    
    }


  
  }